<%= render 'shared/errors', obj: @chef %>

<div class='row'>
    <div class='well col-md-8 col-md-offset-2'>
        <%= form_for @chef do |f| %>
            <%= f.label :chefname, class: 'form-label' %>
            <%= f.text_field :chefname, class: 'form-control' %><br>
            
            <%= f.label :email, class: 'form-label' %>
            <%= f.email_field :email, class: 'form-control' %><br>
            
            <%= f.label :password, class: 'form-label' %>
            <%= f.password_field :password, class: 'form-control' %><br>
    
            
            <%= f.submit(@chef.new_record? ? "Register" : "Edit Profile" , class: 'btn btn-success') %>
        <% end %>
    </div>
</div>

